
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>添加ExtJS应用程序前</p>
    <div> 
    </div>
</body>
</html>
